<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar Empleado</title>
</head>
<body>
    <h2 id="usuario">Usuario: {{username}}</h2>
    <h2 id="informacion">Modificar Empleado, Documento: {{documento}}</h2>
    <form id="formulario-empleado" method="post", action="/modificaremp">
        <label for="Puesto">Puesto:</label>
        <select id="Puesto" name="Puesto"></select><br><br>
        
        <label for="valorDocumentoNuevo">Valor Documento Identidad</label><br><br>
        <input type="number" id="valorDocumentoNuevo" name="valorDocumentoNuevo" value="{{documento}}"><br><br>

        <label for="nombreNuevo">Nombre:</label>
        <input type="text" id="nombreNuevo" name="nombreNuevo"><br><br>

        <label for="fechaContratacion">Fecha Contratación:</label>
        <input type="date" id="fechaContratacion" name="fechaContratacion"><br><br>

        <label for="saldoVacaciones" id="saldoVacaciones">Saldo Vacaciones: </label><br><br>

        <button type="submit">Modificar</button>
    </form>
    <div id="mensaje"></div>
    <a href="/pagina_principal/{{username}}", class="boton">Regresar</a>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
document.getElementById('fechaContratacion').readOnly = true;
const selectPuesto = document.getElementById('Puesto');
    function cargarPuestos() {
    fetch('/puestos')
        .then(response => response.json())
        .then(data => {
            selectPuesto.innerHTML = '';
            data.Puestos.forEach(puesto => {                
                const option = document.createElement('option');
                option.value = puesto.Nombre;
                option.textContent = puesto.Nombre;
                selectPuesto.appendChild(option);
            });
        })
        .catch(error => console.error('Error al obtener puestos:', error));
    }

    let nombreAnterior = '';
    let documentoAnterior = '';
    let saldoVacaciones = 0;

    function obtenerDatos(datos) {
        document.getElementById('Puesto').value = datos.Puesto;
        document.getElementById('valorDocumentoNuevo').value = datos.ValorDocumentoIdentidad;
        document.getElementById('nombreNuevo').value = datos.Nombre;
        document.getElementById('fechaContratacion').value = datos.FechaContratacion;
        document.getElementById('saldoVacaciones').textContent = 'Saldo Vacaciones: '+datos.SaldoVacaciones;
        nombreAnterior = datos.Nombre;
        documentoAnterior = datos.ValorDocumentoIdentidad;
        saldoVacaciones = datos.SaldoVacaciones;
    }  

    function busquedaFunc() {
    const busqueda = document.getElementById('informacion').textContent.split(' ')[3];
    const urlBusqueda = `http://127.0.0.1:5000//modificaremp/getEmpleado?search=${busqueda}`;
    return fetch(urlBusqueda)
        .then(response => response.json())
        .then(data => {
            return data;
        })
        .catch(error => {
            console.error('Error al obtener datos:', error);
            return null;
        });
    }   
    cargarPuestos();
    busquedaFunc().then(datos => {
        obtenerDatos(datos);
    });


    const formulario = document.getElementById('formulario-empleado');
    const username= document.getElementById('usuario').textContent.split(' ')[1];
    $(document).ready(function() {
        $('#formulario-empleado').submit(function(event) {
            event.preventDefault();

            var formData = $(this).serializeArray();
            var jsonData = {};
            $.each(formData, function(index, field) {
                jsonData[field.name] = field.value;
            });
            jsonData['username'] = username;
            jsonData['nombreAnterior'] = nombreAnterior;
            jsonData['valorDocumentoAnterior'] = documentoAnterior;
            jsonData['saldoVacaciones'] = saldoVacaciones;
            delete jsonData['fechaContratacion'];
            console.log(jsonData);
        
            $.ajax({
                url: '/modificaremp',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(jsonData),
                success: function(response) {
                    if (response.Error) {
                        $('#mensaje').text('Error: ' + response.Error);
                    } else {
                        $('#mensaje').text('Empleado Modificado correctamente.');
                    }},
                error: function(xhr, status, error) {
                    $('#mensaje').text('Error: ' + error);
                }
            });
        });
    });
    

</script>

    
</body>
</html>